########################################################################################
# List of patterns for Git to ignore
########################################################################################

build

# OpenAPI generator build artifiacts

.openapi-generator-ignore
.openapi-generator/
